@media only screen and (max-width: 992px) { 
    /* Map */
    .eggs{
        padding-top:13%;
      }
      .egg1, .egg2, .egg3, .egg4, .egg5, .egg6, .egg7, .egg8, .egg9, .egg10{
        width:70px;
      }
      .basket{
        width:100px;
        margin-left:-15px;
      }
      .fox{
        position:absolute;
        height: 130px;
        bottom:0%;
        left:72%;
      }
      .mapspeech{
        bottom:15%;
        left:80%;
        height: 120px;
      }
      .mapspeechtext{
        bottom:17%;
        left:82%;
        width:15%;
        height:60px;
        text-align:center;
      }
      .r2{
        margin-top:80px;
        width:70%;
      }

}
@media only screen and (max-width: 768px) {
    html{
        font-size:medium;
    }
    iframe{
        width:90vw;
        height: auto;
    }
    /* Index */
    .tlt{
      padding-left: 0%;
      padding-right: 0%;
    }
    .tree{
        bottom:0;
        height: 70%;
    }
    .rtree{
        height:70%;
    }
    .post{
        position: absolute;
        width: 250px;
        bottom:0;
        left:50px;
    }
    .clouds{
        position:absolute;
        top:0px;
        margin:auto;
        width: 80%;
        left:20%;
        z-index:-3;
    }
    .logo-lg{
        width:100%;
    }
    /* Map */
    .map{
        display:none;
      }
      .woodtile{
        left: 50px;
        width:380px;
      }
      .eggs{
        padding-top:15%;
      }
      .map-sm{
        display:block;
      }
      .egg1, .egg2, .egg3, .egg4, .egg5, .egg6, .egg7, .egg8, .egg9, .egg10{
        width:60px;
      }
      .basket{
        width:90px;
        margin-left:-15px;
      }
      .fox{
        position:absolute;
        height: 100px;
        bottom:0%;
        left:60%;
      }
      .mapspeech{
        bottom:15%;
        left:72%;
        height: 110px;
      }
      .mapspeechtext{
        bottom:17%;
        left:76%;
        width:15%;
        height:60px;
        text-align:center;
      }
      .r2{
        margin-top:80px;
        width:70%;
        margin-left:50px;
      }
      .factmul{
        font-size:16px;
      }
      .ex{
        font-size:26px;
      }
      .drag{
        display: none;
      }
      .type{
        display: inline-block;
      }
      .act-input{
        width:100px;
      }
}
@media only screen and (max-width: 576px) { 
    /* Map */
    .map{
        display:none;
    }
    .woodtile{
        left: 10px;
        width:380px;
    }
    .eggs{
        padding-top:20%;
    }
    .map-sm{
        display:block;
    }
    .egg1, .egg2, .egg3, .egg4, .egg5, .egg6, .egg7, .egg8, .egg9, .egg10{
        width:50px;
    }
    .basket{
        width:80px;
        margin-left:-15px;
    }
    .fox{
        position:absolute;
        height: 100px;
        bottom:0%;
        left:30%;
    }
    .mapspeech{
        bottom:15%;
        left:45%;
        height: 100px;
    }
    .mapspeechtext{
        bottom:15%;
        left:45%;
        width:30%;
        height:60px;
        text-align:center;
    }
    .r2{
        margin-left:20px;
        margin-top:80px;
        width:90%;
    }
    .objtxt{
        padding-top: 0%;
    }
    .obj{
        margin-top: 10%;
        width:50%;
    }
    .objl2{
        width:80%;
    }
    .owlintree{
        width:55%;
        z-index: 1;
    }
    .board{
        width:100%;
    }
    .boardtext{
        width:100%;
    }
    .num{
        width:90%;
        margin-left:0px;
    }
    .pre-l2{
      width:100%;
      text-align:right;
    }
    /* Lesson 1*/
    .crd{
      font-size:small;
      width:30px;
      height:40px;
    }
    .circle{
      margin-left: 3px;
      width:25px;
    }
    .exis{
      margin-top:-2px;
      margin-left: -23px;
      width:25px;
    }
    .ross{
      width:100%;
    }
    .nancy{
      width:75%;
    }
    .act-2{
      width:50%;
    }
    .result{
      width:100%;
    }
}