@font-face {
  font-family: 'Meticula'; 
  src: url(../font/Meticula.ttf) format('truetype'),
       url(../font/Meticula.woff) format('woff'),
       url(../font/Meticula.woff2) format('woff2');
}
@font-face {
  font-family: 'Wicked Mouse';
  src: url(../font/Wicked-Mouse-Demo.woff) format('woff'),
       url(../font/Wicked-Mouse-Demo.woff2) format('woff2');
}
html{
    font-size:larger;
}
body{
    font-family: 'Meticula', sans-serif;    
    color: #202528;
    font-weight: 700;
    overflow-x: hidden;
    background-image:
    -webkit-gradient(linear, left top, right top, from(#91b3f3), to(#a0bcf4));
    background-image:
    -moz-linear-gradient(left, #91b3f3, #a0bcf4);
}
* {
    box-sizing: border-box;
  }
a{
  text-decoration:none;
    color: #202528;
}
a:hover{
  color: #202528;
}
.title{
    font-family: 'Wicked Mouse', sans-serif;
}
.btns{
  padding: 10px 25px 10px 25px;
  border-radius: 3px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.primary{
  background-color:#5185BA;
  color: #fff;
  margin-right: 5px;
}
.secondary{
  background-color: #f3f1ee;
  color: #5185BA;
  border-color: #73a3d7;
  margin-right: 5px;
}
.secondary:hover, .primary:hover{
  background-color: #2d639e;
  border-color: #2d639e;
  color: #fff;
}   
.next{
    background-color:#5185BA;
      margin-right: 10px;
      position:relative;
      margin:10px;
      float:right;
}
.next:hover{
  background-color: #2d639e;
  color: #fff;
}
.btnnext{
    background-color:#5185BA;
      margin: 10px;
      float:right;
}
.btnback{
  background-color:#5185BA;
    margin: 10px;
}
/* Nav bar */
.navbar-light{
    background-color: #fff;
    z-index:1;
}
.navbar-logo{
    width: 3rem;
}
.navbar-border{
    background-color: #fff;
    border-bottom: 1px solid #dad7cd;
}
/* Student */
.topway{
  display:none;
}
.dgames{
  position:absolute;
  z-index: 1;
  width:20%;
  left: 0;
}
.dlessons{
  position:absolute;
  z-index: 1;
  width:20%;
  right: 0;
}
.path:hover .light{
  display:inline-block;
}
.bl{
  position:absolute;
  width:20%;
  bottom:0;
}
.br{
  position:absolute;
  bottom:0;
  right:0;
  width:20%;
}
.hiowl{
  width:15%;
  position: absolute;
  bottom: 25%;
}
.objl1{
    position:absolute;
    right:0;
    width:30%;
    z-index: -100;
}
.objl2{
    position:fixed;
    bottom:0;
    width:50%;
    z-index: -100;
}
.obj{
    position:relative;
    width: 45%;
    display: inline-block;
    margin-top: 20%;
}
.objtxt{
    padding-top: 20%;
}
.speech{
    position:relative;
    width:50%;
    text-align: center;
    float: right;
  }
  .speechimg{
      z-index: -2;
  }
  .owlintree{
      position:absolute;
      width:20%;
      bottom: 0;
  }
.board{
    background-color: #dae2fa;
    width:fit-content;
    border-radius: 3px;
    padding: 20px;
}
.dropzone{
    width: 50px;
    display: inline-block;
    outline: 0;
    border: 1px solid black;
    text-align: center;
    position:relative;
    background-color: #ebe0cf;
}
.num{
    width:60%;
    margin-left:100px;
}
.num td {
    width:6%;
      text-align: right;
      vertical-align: bottom;
}
.boardtext .btnsubmit{
    float:right;
    margin-right:5%;
}
.tblnum{
    padding:5px;
    border-radius: 3px;
    width:fit-content;
    text-align: center;
}
.type{
  display: none;
}
.crd{
    background-color: #B6D0EB;
    width:50px;
    height:40px;
    text-align: center;
    font-size: 1.2rem;
    padding-top:5px;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .numbers{
    width:fit-content;
  }
  .circle{
    position: absolute;
    display:block;
    margin-left: 7px;
    margin-top:-3px;
    width:30px;
  }
  .exis{
    position: absolute;
    margin-left: -30px;
    margin-top:3px;
    width:30px;
  }
  .act1, .act1 td, .act1 th{
    border:1px solid black;
  }
  .act-input{
      text-align: center;
      text-transform: uppercase;
  }
  .act-inp{
    width: 100px;
    text-align: center;
  }
  .input-num{
    width: 50px;
    text-align: center;
  }
  .tower{
      position:static;
      width:45%;
  }
  .brd{
    background-color: #dae2fa;
    width: 930px;
    border-radius: 3px;
    padding:20px;
  }
  .border-lb{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }
  .border-b{
    border-bottom: 2px solid black;
  }
  .txtr{
    text-align:right;
  }
.fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.numerator {
  display: block;
    padding: 0.1em;
}

.denominator{
  display: block;
    padding: 0.1em;
    border-top: thin solid black;
}
.no{
  width:20px;
}
.f{
  width:200px;
}
/** Index **/
.tlt{
  padding-left: 20%;
  padding-right: 20%;
}
.tree{
  position: absolute;
  width: auto;
  height: 100%;
  z-index:-1;
}
.rtree{
  position: absolute;
  width: auto;
  height: 100%;
  right:0;
  z-index:-2;
}
.grass{
  bottom:0;
  width:100%;
  height:50%;
  position:absolute;
  z-index:-4;
}
.way{
  position:absolute;
  bottom:0;
  height:67.5%;
  width:50%;
  margin:auto;
  left: 21%;
  z-index:-3;
}
.clouds{
  position:absolute;
  top:0px;
  margin:auto;
  width:50%;
  left:25%;
  z-index:-3;
}
.post{
  position: absolute;
  width: 300px;
  bottom:0;
  left:130px;
  z-index: -1;
}
.lgn{
  bottom:0;
}
.passeye{
  position: absolute;
  z-index: 9999;
  right:10px;
  bottom:20px;
}
.logo-lg{
  width:50%;
  margin: auto;
}
.pst:hover .light{
  display:inline-block;
}
.light{
  display:none;
}
/* Map */
.map{
  height: 100%;
  width: 100%;
  position:absolute;
  z-index:-1;
}
.map-sm{
  display:none;
  top:0;
  height: 100%;
  width: 100%;
  position:fixed;
  z-index:-1;
}
.woodtile{
  position:absolute;
  top:120px;
  left: 50px;
  width: 450px;
}
.fox{
  position:absolute;
  height: 150px;
  bottom: 10%;
  left: 60%;
  z-index:10;
}

.mapspeech{
  position:absolute;
  height: 150px;
  width:auto;
  bottom:30%;
  left: 70%;
}
.mapspeechtext{
  position:absolute;
  bottom:38%;
  width:300px;
  left: 72%;
  z-index:10;
}
.spch{
  display:none;
}
.eggdiv{
    position: relative;
}
.egg1, .egg2, .egg3, .egg4, .egg5, .egg6, .egg7, .egg8, .egg9, .egg10{
  width:80px;
  position: absolute;
}
.crack1, .crack2, .crack3, .crack4, .crack5, .crack6, .crack7, .crack8, .crack9, .crack10{
  display: none;
}
.eggdiv:hover .crack1, .eggdiv:hover .crack2, .eggdiv:hover .crack3, .eggdiv:hover .crack4, .eggdiv:hover .crack5, .eggdiv:hover .crack6, .eggdiv:hover .crack7, .eggdiv:hover .crack8, .eggdiv:hover .crack9, .eggdiv:hover .crack10 {
  display: inline-block;
}
.basket{
  width:120px;
  position:absolute;
  z-index:10;
  margin-left:-23px;
}
.pre-l2{
  margin:auto;
  width:70%;
  text-align:right;
}
/* Lesson 1 */
.box{
  display: flex;
  justify-content: center;
  background-color: #fcf8f2;
  border-radius: 3px;
  border: 2px solid #100f0d;
  padding:20px;
  width:100%;
  margin: 10px;
}
.factmul{
  font-size:20px;
}
.ex{
  font-size:30px;
}
.prob{
  width:75%;
}
.fact{
  display: flex;
  justify-content: center;
  background-color: #fcf8f2;
  border-radius: 3px;
  border: 2px solid #100f0d;
  width:fit-content;
  padding:10px;
  margin: 10px;
}
.result{
    display: none;
    justify-content: center;
    background-color: #fcf8f2;
    border-radius: 3px;
    border: 2px solid #100f0d;
    width:fit-content;
    padding:10px;
    margin: 10px;
}
.content{
  background-color: white;
  border-radius: 3px;
}
.nancy{
  width: 50%;
}
.act-2{
  margin:auto;
  width:30%;
  text-align:right;
}
iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:60vw;
  height:60vh;
}
.flip{
  transform: rotateY(180deg);
}